::-webkit-scrollbar { /*gets rid of scrollbar on almost every browser but firefox*/
	display: none;
}

html {
	font-family: "Roboto", sans-serif;
	background-color:#222222;
	color:#DDDDDD;
}

body {
	margin:6px auto;
	max-width:800px;
}

h1 {
	text-align: center;
	margin-bottom: 2px;
	padding-bottom: 0;
	text-shadow: 2px 2px 4px #000000;
}

h2,h3,h4,h5,h6 {
	text-shadow: 2px 2px 4px #000000;
}

.centerWrapper {
	text-align: center;
}

#nav {
	display:inline-block;
	margin-bottom:24px;
}

.navButton {
	display:inline-block;
	margin:0;
	padding:6px 10px 1px 10px;
	font-size:1.25em;
	text-shadow: 2px 2px 4px #000000;
}

.navButton:hover {
	cursor:pointer;
}

#page {
	background-color: #CC2200;
	height:4px;
	width:101px;
	margin-left:0;
	-webkit-transition: width 0.5s, margin-left 0.5s; /* Safari */
    transition: width 0.5s, margin-left 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
    transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

#contentWrapper {
	position:relative;
}

.content {
    width:100%;
    padding-bottom: 16px;
}

.notShown {
	display:none;
}

input[type=text], input[type=password] {
	background-color: transparent;
	color:#DDDDDD;
	font-size:1em;
	font-family: "Roboto", sans-serif;
	border:none;
	border-bottom:1px solid #DDDDDD;
}

input[type=checkbox]:focus {
	outline:auto;
}

input:focus {
	outline:none;
}

input[type=button] {
	background-color: transparent;
	color:#DDDDDD;
	font-size:1em;
	font-family: "Roboto", sans-serif;
}

#genPassword {
	font-size:2em;
}

#valInput {
	text-align: center;
}

#valScoreContainer, #genScoreContainer {
	padding:50px;
	opacity:0;
	-webkit-transition: opacity 0.5s;/* Safari */
    transition: opacity 0.5s;
}

#valPercentage, #genPercentage {
	font-size:4.5em;
	text-shadow: 2px 2px 8px #000000;
}

#valScoreBar, #genScoreBar {
	height:6px;
	width:250px;
	background-color: #AAAAAA;
	border-radius: 6px;
	display:inline-block;
}

#valScoreBarInner, #genScoreBarInner {
	height:100%;
	width:100%;
	border-radius: 6px;
	background: -webkit-linear-gradient(to right,#CC2200 150px,#CCCC00 175px,#CCCC00 200px,#00CC00 250px); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to right,#CC2200 150px,#CCCC00 175px,#CCCC00 200px,#00CC00 250px); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to right,#CC2200 150px,#CCCC00 175px,#CCCC00 200px,#00CC00 250px); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,#CC2200 150px,#CCCC00 175px,#CCCC00 200px,#00CC00 250px); /* Standard syntax (must be last) */
}

#valCategories, #genCategories {
	border:none;
	width:100%;
	text-align:center;
	margin-bottom:50px;
	opacity:0;
	-webkit-transition: opacity 0.5s;/* Safari */
    transition: opacity 0.5s;
}

#valCategories td, #genCategories td {
	width:33.33%;
	position:relative; 
    z-index:24;
}

#valCategories td span, #genCategories td span {
	display: block;
	opacity:0;
	background-color: #555555;
	max-width: 66%;
	font-size:0.75em;
	padding:0.35em;
	position:absolute;
}

#valCategories td:hover span, #genCategories td:hover span { 
	opacity:1;
	bottom:0;
	left:15%;
	border:2px solid #0077FF;
	z-index:25;
	-webkit-transition: opacity 0.15s 0.75s;/* Safari */
    transition: opacity 0.15s 0.75s;
}

@media (min-width: 500px) and (max-width: 650px) {
	#valCategories td img, #genCategories td img {
		max-width:150px;
	}
}

@media (min-width: 300px) and (max-width: 500px) {
	#valCategories td img, #genCategories td img {
		max-width:75px;
	}
}

#valFixes, #genFixes {
	color:#CC2200;
}

#memContent {
	min-height: 380px;
}

#memInputWrapper {
	height:125px;
}

#memInput {
	display:inline-block;
	font-size:1.5em;
	-webkit-transition: opacity 0.75s, top 0.75s;/* Safari */
    transition: opacity 0.75s, top 0.75s;
    position:absolute;
    width:250px;
    left:0;
    top:45px;
}

#memGuess {
	font-size:1.5em;
	position:absolute;
	display: none;
	top:100px;
	opacity:0;
	width:250px;
	left:0;
	-webkit-transition: opacity 0.75s, top 0.75s; /* Safari */
    transition: opacity 0.75s, top 0.75s;
}

#memCorrectnessWrapper {
	position: absolute;
	width:100%;
}

#memCorrectness {
	opacity:0;
	-webkit-transition: opacity 2s; /* Safari */
    transition: opacity 2s;
}

#memShowPass {
	display:none;
}

#memPass {
	display:none;
}

#numLevelsWrapper {
	position:absolute;
	bottom:0;
	width:100%;
}

#memLevels {
	display:inline-block;
}

#memLevels div {
	display:inline-block;
	margin:0;
	padding:6px 10px 6px 10px;
	-webkit-transition: background-color 0.75s, color 0.75s; /* Safari */
    transition: background-color 0.75s, color 0.75s;
}

.memLevelSelected {
	background-color:#BBBBBB;
	color:#333333;
}

#memRestart {
	position:absolute;
	right:0;
	bottom:0;
}

#footer {
	margin-top:110px;
	color:#999999;
}

#about h2, #aboutInformation h3 {
	padding-bottom:0;
	margin-bottom:-0.5em;
	color:#AAAAAA;
}

#about:hover {
	color:#777777;
	cursor:pointer;
}

#about:focus {
	outline:none;
}

#aboutInformation {
	max-height:0;
	overflow-y:hidden;
	-webkit-transition: max-height 0.01s ease-out; /* Safari */
    transition: max-height 0.01s ease-out;
}

#aboutInformation a {
	color:#999999;
}

#aboutInformation a:hover {
	color:#777777;
}

#securityEmphasis {
	border-left:3px solid #CC2200;
	border-right:3px solid #CC2200;
	text-align:center;
	padding:12px 0;
	font-size:1.2em;
}